*
{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body
{
    justify-content: center;
    align-items: center;
    font-family: 'Alexandria', sans-serif;
}

div#list-recipes
{
    width:100%;
    height: 100%;
    text-align: center;
    margin:auto;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.recipes-pictures
{
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding: 35px;
    border: lightblue solid 1px;
    background: white;
    border-radius: 50px;

}

.description
{
    justify-content: center;
    align-items: center;
}

.recipes-item
{
    z-index: 1;
}

.recipes-item img
{
    margin-bottom: 15px;
    margin-top: 15px;
}

.recipes-pictures .circle
{
    position: absolute;
    top:0;
    left:0;
    width: 80%;
    height: 600px;
    overflow:hidden;
    justify-content: center;
    display: none;
}

.recipes-pictures .circle::before
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: lightblue;
    clip-path: circle(120px at center);
}

/* Search bar and Icon */

.input-parent
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 45px;
    position: relative;
}

.input-filter
{
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    position: center;
    border-radius: 60px;
    padding: 10px 20px;
    height: 60px;
    border: black solid 1px;
    background-color: hsl(150deg 30% 60% / 0.5);

}

.input-filter input
{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 17px;
    color: black;

}

::placeholder
{
    display: block;
    color: black;
    font-weight: bold;
}




.input-parent .search-text
{
    color: black;
    font-weight: bold;
}


.flex
{
    display: flex;
    gap: 1rem;
}

h1
{
    font-family: 'Sedgwick Ave Display', cursive;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Header */

.logo
{
  margin:1rem;
}


.header
{
    align-items: center;
    justify-content: space-between;
    background: hsl(150deg 30% 60% / 0.5);
    backdrop-filter: blur(0.7rem);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-title
{
    justify-content: center;
    align-items: center;
}
.name
{
    font-size: 35px;
    color: black;
    font-family: 'Sedgwick Ave Display', cursive;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(229, 24, 45), rgba(0, 0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left:650px;
    top: 25px;
}

.navigation
{
    list-style: none;
    padding: 0;
    margin-right: 14px;
}

.navigation a
{
    text-decoration: none;
    color: black;
}

.navigation a > span
{
    font-weight: 700;
    margin-inline-end: 0.7em;
}
/* Image */
.image
{

    margin-top: 100px;

}
.image-parent
{
    align-items: center;
    justify-content: center;
    display: flex;
}

/* login */

.form-container
{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding:20px;
    background: hsl(150deg 30% 60% / 0.5);
    border-radius: 4px;
    font-size: 12px;
}

/*
.form-container.active
{
    transform: translate(-50%,-50%) scale(1);
}

 */


#form h1
{
    text-align: center;
}

.form-container button
{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background: black;
    border: none;
    border-radius: 4px;
}

.input
{
    display: flex;
    flex-direction: column;
}

.input input
{
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding:10px;
    width: 100%;
}

.input input:focus
{
    outline: 0;
}

.input.success input
{
    border-color: green;
}

.input.error input
{
    border-color: red;
}

.input .fault
{
    color: red;
    font-size: 9px ;
    height: 13px;
}

/*
.pop-up-container
{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 500ms ease-in-out;

    z-index: 10;

    width: 300px;
    margin: 20vh auto 0 auto;
    padding:20px;
    background: hsl(150deg 30% 60% / 0.5);
    border-radius: 4px;
    font-size: 12px;
    transform: translate(-50%,-50%) scale(0);
}



.pop-up-container.active
{
    transform: translate(-50%,-50%) scale(1);
}

 */

.registration-header
{
    padding: 15px 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.registration-title
{
    font-family: 'Alexandria', sans-serif;
    font-size: 1.50rem;
    font-weight: bold;
    color: black;
}

.registration-button
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

#overlay
{
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
}





