.procedureOne {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.procedureOneDescription {
    width: 40%;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 12px;
}

.header {
    text-align: center;
}


.imageWrapper {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}
#dishImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
