*
{
    margin:0;
    padding:0;
    box-sizing: border-box;


}
body{
    font-family: monospace;

}
.procedure-one {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}


.procedure-one-description {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 12px;
    font-family: monospace;
}
.procedureDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.procedure-name-wrapper {
    display: flex;
    flex-direction: row;
}

.procedureIngredientsText {
    width: 30%;
    margin-bottom: 20px;
    padding: 12px;

}

.dish-name {
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 50px;
    margin-bottom: 20px;
}

h2{
    margin-top: 125px;
}
.image-wrapper {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-top: 100px;
}
#dish-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}

/* Header */

.flex
{
    display: flex;
    gap: 1rem;
}

.logo
{
    margin:1rem;
}


.header
{
    align-items: center;
    justify-content: space-between;
    background: hsl(150deg 30% 60% / 0.5);
    backdrop-filter: blur(0.7rem);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.name
{
    font-size: 35px;
    color: black;
    font-family: 'Sedgwick Ave Display', cursive;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(229, 24, 45), rgba(0, 0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left:650px;
    top: 25px;
}

.navigation
{
    list-style: none;
    padding: 0;
    margin-right: 14px;
}

.navigation a
{
    text-decoration: none;
    color: black;
}

.navigation a > span
{
    font-weight: 700;
    margin-inline-end: 0.7em;
}

